QwtPlotCanvas
{
    border: 1px solid White;
    border-radius: 10px;
    background-color: black;
}

VectorDisplayPlot {
}

FrequencyDisplayPlot {
    qproperty-marker_lower_intensity_color: white;
    qproperty-marker_upper_intensity_color: red;
    qproperty-marker_lower_intensity_visible: false;
    qproperty-marker_upper_intensity_visible: false;
    qproperty-marker_noise_floor_amplitude_color: red;
    qproperty-marker_noise_floor_amplitude_visible: false;

}

WaterfallDisplayPlot {
    qproperty-intensity_color_map_type1: 1;
    qproperty-low_intensity_color: black;
    qproperty-high_intensity_color: green;
}


QwtPlot
{
    padding: 10px;
    font-size: 18px;
}

