#!/usr/bin/make -f
# -*- makefile -*-
# Sample debian/rules that uses debhelper.
# This file was originally written by Joey Hess and Craig Small.
# As a special exception, when this file is copied by dh-make into a
# dh-make output file, you may use that output file without restriction.
# This special exception was added by Craig Small in version 0.37 of dh-make.
#
# Use placeholders for makedeb script:
# * DEB_PKG_NAME for the package name
# * DEB_PKG_VERSION for the version number
# * DEB_PKG_ARCH for the package architecture
# * DEB_PKG_SUBGROUP for the package subgroup
#

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

%:
	dh $@ --with python2
	
# Override configure step to pass package version and package subgroup to CMake
override_dh_auto_configure:
	dh_auto_configure -- -DPACKAGE_VERSION=DEB_PKG_VERSION -DPACKAGE_SUBGROUP=NDR308

# Override shared library dependency step to turn it off.  Instead, we will rely on
# the control file and the user installing the needed libraries (admittedly a dangerous
# proposition).
override_dh_shlibdeps:
	:

