[Desktop Entry]
Name=CyberRadio GNU Radio Blocks Documentation
Comment=CyberRadio GNU Radio Blocks Documentation
Type=Link
Categories=Other
URL=file:///usr/share/doc/CyberRadio/html/index.html
