#
# Use placeholders for makedeb script:
# * DEB_PKG_NAME for the package name
# * DEB_PKG_VERSION for the version number
# * DEB_PKG_ARCH for the package architecture
#
Source: DEB_PKG_NAME
Section: devel
Priority: extra
Maintainer: CyberRadio Solutions, Inc. <sales@cyberradiosolutions.com>
Build-Depends: debhelper (>= 8.0.0), 
               python3, 
               libcyberradio, 
               gnuradio-dev | gnuradio, 
               libpcap-dev, 
               libjsoncpp-dev
Standards-Version: 3.9.2
Homepage: http://www.cyberradiosolutions.com
X-Python-Version: >= 2.7

Package: DEB_PKG_NAME
Architecture: DEB_PKG_ARCH
Depends: python-cyberradiodriver | python3-cyberradiodriver, 
         python3-netifaces, 
         ${shlibs:Depends}
Description: GNU Radio Blocks for CyberRadio Solutions, Inc. Radios
 This package provides blocks for controlling CyberRadio Solutions, Inc. 
 radios using GNU Radio and GNU Radio Companion.
 .
 Requires GNU Radio (and its associated dependencies).

