[Desktop Entry]
Name=CyberRadio Driver Documentation
Comment=CyberRadio Driver Documentation
Type=Link
Categories=Other
URL=file:///usr/share/doc/python-cyberradiodriver/html/index.html
