#
# Use placeholders for makedeb script:
# * DEB_PKG_NAME for the package name
# * DEB_PKG_VERSION for the version number
# * DEB_PKG_ARCH for the package architecture
# * DEB_PYTHON_PKG_PREFIX for the prefix for dependent Python packages
# * DEB_PYTHON_PKG_DEP for the Python package dependency spec
# * DEB_PYTHON_XPY_DEP for the X-Python[3]-Version spec
#
Source: DEB_PKG_NAME
Section: devel
Priority: extra
Maintainer: CyberRadio Solutions, Inc. <sales@cyberradiosolutions.com>
Build-Depends: debhelper (>= 8.0.0),
               DEB_PYTHON_PKG_DEP,
               DEB_PYTHON_PKG_PREFIX-numpy, 
               DEB_PYTHON_PKG_PREFIX-serial, 
               DEB_PYTHON_PKG_PREFIX-requests (>= 2.9.1)
Standards-Version: 3.9.2
Homepage: http://www.cyberradiosolutions.com
DEB_PYTHON_XPY_DEP

Package: DEB_PKG_NAME
Architecture: all
Depends: DEB_PYTHON_PKG_DEP,
         ${python3:Depends},
         DEB_PYTHON_PKG_PREFIX-numpy, 
         DEB_PYTHON_PKG_PREFIX-serial, 
         DEB_PYTHON_PKG_PREFIX-requests (>= 2.9.1)
Replaces: pyndrdriver, cyberradiodriver, python-cyberradiodriver
Description: CyberRadio Solutions, Inc., NDR-series Radio Control Driver
 Provides a unified driver for controlling all NDR-series radios from
 CyberRadio Solutions, Inc.
 .

