#!/usr/bin/make -f
# Debian package-building rules file
# Use placeholders for makedeb script:
# * DEB_PYTHON_DHPY to specify what dh_python option to use

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

# PyBuild requires us to give it the package name using an environment
# variable.
export PYBUILD_NAME=CyberRadioDriver

# Tell the Debian build scripts that we want to use the dh_python[2/3]
# tool for our Python stuff.
%:
	dh $@ --with DEB_PYTHON_DHPY --buildsystem=pybuild

# Squash auto-build step, since Python distutils installs using setup.py 
# automatically build during the "install" command, anyway.
override_dh_auto_build:
    :
    
# To keep the Debian build scripts from complaining about installing
# things in /usr/local, override dh_usrlocal processing so that it
# does nothing instead.
override_dh_usrlocal:
	:
	