#
# Use placeholders for makedeb script:
# * DEB_PKG_NAME for the package name
# * DEB_PKG_VERSION for the version number
# * DEB_PKG_ARCH for the package architecture
#
Source: DEB_PKG_NAME
Section: devel
Priority: extra
Maintainer: CyberRadio Solutions, Inc. <sales@cyberradiosolutions.com>
Build-Depends: debhelper (>= 8.0.0), autoconf, automake, doxygen
Standards-Version: 3.9.2
Homepage: http://www.cyberradiosolutions.com
X-Python-Version: >= 2.6

Package: DEB_PKG_NAME
Architecture: any
Depends: python (>= 2.6.6.3~)
Description: CyberRadio Solutions Common Library
 Provides a common set of software components for interacting with 
 CyberRadio Solutions radios.
 .

