#
# Use placeholders for makedeb script:
# * DEB_PKG_NAME for the package name
# * DEB_PKG_VERSION for the version number
# * DEB_PKG_ARCH for the package architecture
#
Source: DEB_PKG_NAME
Section: devel
Priority: extra
Maintainer: CyberRadio Solutions, Inc. <sales@cyberradiosolutions.com>
Build-Depends: debhelper (>= 8.0.0), python (>= 2.6.6.3~)
Standards-Version: 3.9.2
Homepage: http://www.cyberradiosolutions.com
X-Python-Version: >= 2.6

Package: DEB_PKG_NAME
Architecture: any
Depends: python-cyberradiodriver
Breaks: gr-cyberradio
Description: Documentation for CRS Radio Control Blocks for GNU Radio
 This package provides documentation for the CyberRadio Solutions, Inc. 
 Radio Control Blocks for GNU Radio.
 .
 Documentation installed by this package covers control blocks for all
 supported CRS radios, not only the ones that are installed.
 .
 Requires GNU Radio (and its associated dependencies) and Doxygen.

